body {
  font-family: Helvetica, Arial;
}

.main-wrapper {
  width: 100%;
}

.now-playing__img {
  width: 300px;
  height: 300px;
  position: relative;
  margin: auto;
  background-position: center;
  filter: brightness(40%);
  z-index: 1;
}

.now-playing__name {
  position: relative;
  bottom: 280px;
  max-width: 300px;
  font-size: 30px;
  margin: auto;
  z-index: 5;
}

.now-playing__artist {
  position: relative;
  bottom: 280px;
  max-width: 300px;
  margin: auto;
  z-index: 5;
}

.now-playing__status {
  position: relative;
  bottom: 150px;
  font-size: 14px;
  margin: auto;
  z-index: 5;
}

.progress {
  position: relative;
  bottom: 130px;
  border: 1px solid #eee;
  width: 200px;
  margin: auto;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  z-index: 5;
}

.progress__bar {
  position: relative;
  bottom: 200px;
  background-color: #eee;
  height: 4px;
  z-index: 5;
}